* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  transition: 0.4s;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

p {
  margin: 10px;
  padding: 10px;
}

label {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.btn {
  background-color: #fff;
  color: #512b58;
  border: #512b58 1px solid;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.btn:hover {
  background-color: #512b58;
  color: #fff;
}

.container {
  width: 55%;
  max-width: 250px;
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
  margin-top: 30px;
  padding: 10px;
  border: #512b58 1px solid;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.cont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: #512b58 1px solid;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.output {
  border: #000 1px solid;
  width: 80%;
  line-height: 20px;
  overflow-y: scroll;
}
